licoreriaClient/web/WEB-INF/wsdl/localhost_8080/licoreriaServer/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clases/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://clases/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://clases/" schemaLocation="http://localhost:8080/licoreriaServer/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ValidarUsuario">
<part name="parameters" element="tns:ValidarUsuario"/>
</message>
<message name="ValidarUsuarioResponse">
<part name="parameters" element="tns:ValidarUsuarioResponse"/>
</message>
<message name="buscarUnidadMedidaPorId">
<part name="parameters" element="tns:buscarUnidadMedidaPorId"/>
</message>
<message name="buscarUnidadMedidaPorIdResponse">
<part name="parameters" element="tns:buscarUnidadMedidaPorIdResponse"/>
</message>
<message name="actualizarCategoria">
<part name="parameters" element="tns:actualizarCategoria"/>
</message>
<message name="actualizarCategoriaResponse">
<part name="parameters" element="tns:actualizarCategoriaResponse"/>
</message>
<message name="cambiarEstadoCliente">
<part name="parameters" element="tns:cambiarEstadoCliente"/>
</message>
<message name="cambiarEstadoClienteResponse">
<part name="parameters" element="tns:cambiarEstadoClienteResponse"/>
</message>
<message name="listarEntradasProductos">
<part name="parameters" element="tns:listarEntradasProductos"/>
</message>
<message name="listarEntradasProductosResponse">
<part name="parameters" element="tns:listarEntradasProductosResponse"/>
</message>
<message name="buscarCategoriaPorId">
<part name="parameters" element="tns:buscarCategoriaPorId"/>
</message>
<message name="buscarCategoriaPorIdResponse">
<part name="parameters" element="tns:buscarCategoriaPorIdResponse"/>
</message>
<message name="actualizarCliente">
<part name="parameters" element="tns:actualizarCliente"/>
</message>
<message name="actualizarClienteResponse">
<part name="parameters" element="tns:actualizarClienteResponse"/>
</message>
<message name="buscarClientePorId">
<part name="parameters" element="tns:buscarClientePorId"/>
</message>
<message name="buscarClientePorIdResponse">
<part name="parameters" element="tns:buscarClientePorIdResponse"/>
</message>
<message name="listarUnidadesMedida">
<part name="parameters" element="tns:listarUnidadesMedida"/>
</message>
<message name="listarUnidadesMedidaResponse">
<part name="parameters" element="tns:listarUnidadesMedidaResponse"/>
</message>
<message name="listarTiposComprobante">
<part name="parameters" element="tns:listarTiposComprobante"/>
</message>
<message name="listarTiposComprobanteResponse">
<part name="parameters" element="tns:listarTiposComprobanteResponse"/>
</message>
<message name="registrarCategoria">
<part name="parameters" element="tns:registrarCategoria"/>
</message>
<message name="registrarCategoriaResponse">
<part name="parameters" element="tns:registrarCategoriaResponse"/>
</message>
<message name="cambiarEstadoTipoComprobante">
<part name="parameters" element="tns:cambiarEstadoTipoComprobante"/>
</message>
<message name="cambiarEstadoTipoComprobanteResponse">
<part name="parameters" element="tns:cambiarEstadoTipoComprobanteResponse"/>
</message>
<message name="actualizarProducto">
<part name="parameters" element="tns:actualizarProducto"/>
</message>
<message name="actualizarProductoResponse">
<part name="parameters" element="tns:actualizarProductoResponse"/>
</message>
<message name="registrarProducto">
<part name="parameters" element="tns:registrarProducto"/>
</message>
<message name="registrarProductoResponse">
<part name="parameters" element="tns:registrarProductoResponse"/>
</message>
<message name="registrarTipoComprobante">
<part name="parameters" element="tns:registrarTipoComprobante"/>
</message>
<message name="registrarTipoComprobanteResponse">
<part name="parameters" element="tns:registrarTipoComprobanteResponse"/>
</message>
<message name="cambiarEstadoCategoria">
<part name="parameters" element="tns:cambiarEstadoCategoria"/>
</message>
<message name="cambiarEstadoCategoriaResponse">
<part name="parameters" element="tns:cambiarEstadoCategoriaResponse"/>
</message>
<message name="cambiarEstadoMarca">
<part name="parameters" element="tns:cambiarEstadoMarca"/>
</message>
<message name="cambiarEstadoMarcaResponse">
<part name="parameters" element="tns:cambiarEstadoMarcaResponse"/>
</message>
<message name="cambiarEstadoProducto">
<part name="parameters" element="tns:cambiarEstadoProducto"/>
</message>
<message name="cambiarEstadoProductoResponse">
<part name="parameters" element="tns:cambiarEstadoProductoResponse"/>
</message>
<message name="registrarEmpleado">
<part name="parameters" element="tns:registrarEmpleado"/>
</message>
<message name="registrarEmpleadoResponse">
<part name="parameters" element="tns:registrarEmpleadoResponse"/>
</message>
<message name="actualizarEmpleado">
<part name="parameters" element="tns:actualizarEmpleado"/>
</message>
<message name="actualizarEmpleadoResponse">
<part name="parameters" element="tns:actualizarEmpleadoResponse"/>
</message>
<message name="cambiarEstadoSede">
<part name="parameters" element="tns:cambiarEstadoSede"/>
</message>
<message name="cambiarEstadoSedeResponse">
<part name="parameters" element="tns:cambiarEstadoSedeResponse"/>
</message>
<message name="cambiarEstadoEmpleado">
<part name="parameters" element="tns:cambiarEstadoEmpleado"/>
</message>
<message name="cambiarEstadoEmpleadoResponse">
<part name="parameters" element="tns:cambiarEstadoEmpleadoResponse"/>
</message>
<message name="buscarTipoComprobantePorId">
<part name="parameters" element="tns:buscarTipoComprobantePorId"/>
</message>
<message name="buscarTipoComprobantePorIdResponse">
<part name="parameters" element="tns:buscarTipoComprobantePorIdResponse"/>
</message>
<message name="cambiarEstadoUnidadMedida">
<part name="parameters" element="tns:cambiarEstadoUnidadMedida"/>
</message>
<message name="cambiarEstadoUnidadMedidaResponse">
<part name="parameters" element="tns:cambiarEstadoUnidadMedidaResponse"/>
</message>
<message name="actualizarUnidadMedida">
<part name="parameters" element="tns:actualizarUnidadMedida"/>
</message>
<message name="actualizarUnidadMedidaResponse">
<part name="parameters" element="tns:actualizarUnidadMedidaResponse"/>
</message>
<message name="actualizarTipoComprobante">
<part name="parameters" element="tns:actualizarTipoComprobante"/>
</message>
<message name="actualizarTipoComprobanteResponse">
<part name="parameters" element="tns:actualizarTipoComprobanteResponse"/>
</message>
<message name="registrarUnidadMedida">
<part name="parameters" element="tns:registrarUnidadMedida"/>
</message>
<message name="registrarUnidadMedidaResponse">
<part name="parameters" element="tns:registrarUnidadMedidaResponse"/>
</message>
<message name="actualizarUsuario">
<part name="parameters" element="tns:actualizarUsuario"/>
</message>
<message name="actualizarUsuarioResponse">
<part name="parameters" element="tns:actualizarUsuarioResponse"/>
</message>
<message name="cambiarEstadoRol">
<part name="parameters" element="tns:cambiarEstadoRol"/>
</message>
<message name="cambiarEstadoRolResponse">
<part name="parameters" element="tns:cambiarEstadoRolResponse"/>
</message>
<message name="registrarUsuario">
<part name="parameters" element="tns:registrarUsuario"/>
</message>
<message name="registrarUsuarioResponse">
<part name="parameters" element="tns:registrarUsuarioResponse"/>
</message>
<message name="buscarSedePorId">
<part name="parameters" element="tns:buscarSedePorId"/>
</message>
<message name="buscarSedePorIdResponse">
<part name="parameters" element="tns:buscarSedePorIdResponse"/>
</message>
<message name="prov_actualizar">
<part name="parameters" element="tns:prov_actualizar"/>
</message>
<message name="prov_actualizarResponse">
<part name="parameters" element="tns:prov_actualizarResponse"/>
</message>
<message name="registrarSede">
<part name="parameters" element="tns:registrarSede"/>
</message>
<message name="registrarSedeResponse">
<part name="parameters" element="tns:registrarSedeResponse"/>
</message>
<message name="actualizarMarca">
<part name="parameters" element="tns:actualizarMarca"/>
</message>
<message name="actualizarMarcaResponse">
<part name="parameters" element="tns:actualizarMarcaResponse"/>
</message>
<message name="actualizarSede">
<part name="parameters" element="tns:actualizarSede"/>
</message>
<message name="actualizarSedeResponse">
<part name="parameters" element="tns:actualizarSedeResponse"/>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"/>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"/>
</message>
<message name="registrarMarca">
<part name="parameters" element="tns:registrarMarca"/>
</message>
<message name="registrarMarcaResponse">
<part name="parameters" element="tns:registrarMarcaResponse"/>
</message>
<message name="registrarRol">
<part name="parameters" element="tns:registrarRol"/>
</message>
<message name="registrarRolResponse">
<part name="parameters" element="tns:registrarRolResponse"/>
</message>
<message name="listarRoles">
<part name="parameters" element="tns:listarRoles"/>
</message>
<message name="listarRolesResponse">
<part name="parameters" element="tns:listarRolesResponse"/>
</message>
<message name="listarSedes">
<part name="parameters" element="tns:listarSedes"/>
</message>
<message name="listarSedesResponse">
<part name="parameters" element="tns:listarSedesResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<message name="prov_estado">
<part name="parameters" element="tns:prov_estado"/>
</message>
<message name="prov_estadoResponse">
<part name="parameters" element="tns:prov_estadoResponse"/>
</message>
<message name="prov_registrar">
<part name="parameters" element="tns:prov_registrar"/>
</message>
<message name="prov_registrarResponse">
<part name="parameters" element="tns:prov_registrarResponse"/>
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"/>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"/>
</message>
<message name="list_cod">
<part name="parameters" element="tns:list_cod"/>
</message>
<message name="list_codResponse">
<part name="parameters" element="tns:list_codResponse"/>
</message>
<message name="buscarEmpleado">
<part name="parameters" element="tns:buscarEmpleado"/>
</message>
<message name="buscarEmpleadoResponse">
<part name="parameters" element="tns:buscarEmpleadoResponse"/>
</message>
<message name="listarMarcas">
<part name="parameters" element="tns:listarMarcas"/>
</message>
<message name="listarMarcasResponse">
<part name="parameters" element="tns:listarMarcasResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="listarEmpleados">
<part name="parameters" element="tns:listarEmpleados"/>
</message>
<message name="listarEmpleadosResponse">
<part name="parameters" element="tns:listarEmpleadosResponse"/>
</message>
<message name="actualizarRol">
<part name="parameters" element="tns:actualizarRol"/>
</message>
<message name="actualizarRolResponse">
<part name="parameters" element="tns:actualizarRolResponse"/>
</message>
<message name="buscarMarcaPorId">
<part name="parameters" element="tns:buscarMarcaPorId"/>
</message>
<message name="buscarMarcaPorIdResponse">
<part name="parameters" element="tns:buscarMarcaPorIdResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes"/>
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse"/>
</message>
<message name="buscarRolPorId">
<part name="parameters" element="tns:buscarRolPorId"/>
</message>
<message name="buscarRolPorIdResponse">
<part name="parameters" element="tns:buscarRolPorIdResponse"/>
</message>
<message name="cambiarEstadoUsuario">
<part name="parameters" element="tns:cambiarEstadoUsuario"/>
</message>
<message name="cambiarEstadoUsuarioResponse">
<part name="parameters" element="tns:cambiarEstadoUsuarioResponse"/>
</message>
<message name="proveedor_listar">
<part name="parameters" element="tns:proveedor_listar"/>
</message>
<message name="proveedor_listarResponse">
<part name="parameters" element="tns:proveedor_listarResponse"/>
</message>
<portType name="NewWebService">
<operation name="ValidarUsuario">
<input wsam:Action="http://clases/NewWebService/ValidarUsuarioRequest" message="tns:ValidarUsuario"/>
<output wsam:Action="http://clases/NewWebService/ValidarUsuarioResponse" message="tns:ValidarUsuarioResponse"/>
</operation>
<operation name="buscarUnidadMedidaPorId">
<input wsam:Action="http://clases/NewWebService/buscarUnidadMedidaPorIdRequest" message="tns:buscarUnidadMedidaPorId"/>
<output wsam:Action="http://clases/NewWebService/buscarUnidadMedidaPorIdResponse" message="tns:buscarUnidadMedidaPorIdResponse"/>
</operation>
<operation name="actualizarCategoria">
<input wsam:Action="http://clases/NewWebService/actualizarCategoriaRequest" message="tns:actualizarCategoria"/>
<output wsam:Action="http://clases/NewWebService/actualizarCategoriaResponse" message="tns:actualizarCategoriaResponse"/>
</operation>
<operation name="cambiarEstadoCliente">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoClienteRequest" message="tns:cambiarEstadoCliente"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoClienteResponse" message="tns:cambiarEstadoClienteResponse"/>
</operation>
<operation name="listarEntradasProductos">
<input wsam:Action="http://clases/NewWebService/listarEntradasProductosRequest" message="tns:listarEntradasProductos"/>
<output wsam:Action="http://clases/NewWebService/listarEntradasProductosResponse" message="tns:listarEntradasProductosResponse"/>
</operation>
<operation name="buscarCategoriaPorId">
<input wsam:Action="http://clases/NewWebService/buscarCategoriaPorIdRequest" message="tns:buscarCategoriaPorId"/>
<output wsam:Action="http://clases/NewWebService/buscarCategoriaPorIdResponse" message="tns:buscarCategoriaPorIdResponse"/>
</operation>
<operation name="actualizarCliente">
<input wsam:Action="http://clases/NewWebService/actualizarClienteRequest" message="tns:actualizarCliente"/>
<output wsam:Action="http://clases/NewWebService/actualizarClienteResponse" message="tns:actualizarClienteResponse"/>
</operation>
<operation name="buscarClientePorId">
<input wsam:Action="http://clases/NewWebService/buscarClientePorIdRequest" message="tns:buscarClientePorId"/>
<output wsam:Action="http://clases/NewWebService/buscarClientePorIdResponse" message="tns:buscarClientePorIdResponse"/>
</operation>
<operation name="listarUnidadesMedida">
<input wsam:Action="http://clases/NewWebService/listarUnidadesMedidaRequest" message="tns:listarUnidadesMedida"/>
<output wsam:Action="http://clases/NewWebService/listarUnidadesMedidaResponse" message="tns:listarUnidadesMedidaResponse"/>
</operation>
<operation name="listarTiposComprobante">
<input wsam:Action="http://clases/NewWebService/listarTiposComprobanteRequest" message="tns:listarTiposComprobante"/>
<output wsam:Action="http://clases/NewWebService/listarTiposComprobanteResponse" message="tns:listarTiposComprobanteResponse"/>
</operation>
<operation name="registrarCategoria">
<input wsam:Action="http://clases/NewWebService/registrarCategoriaRequest" message="tns:registrarCategoria"/>
<output wsam:Action="http://clases/NewWebService/registrarCategoriaResponse" message="tns:registrarCategoriaResponse"/>
</operation>
<operation name="cambiarEstadoTipoComprobante">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoTipoComprobanteRequest" message="tns:cambiarEstadoTipoComprobante"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoTipoComprobanteResponse" message="tns:cambiarEstadoTipoComprobanteResponse"/>
</operation>
<operation name="actualizarProducto">
<input wsam:Action="http://clases/NewWebService/actualizarProductoRequest" message="tns:actualizarProducto"/>
<output wsam:Action="http://clases/NewWebService/actualizarProductoResponse" message="tns:actualizarProductoResponse"/>
</operation>
<operation name="registrarProducto">
<input wsam:Action="http://clases/NewWebService/registrarProductoRequest" message="tns:registrarProducto"/>
<output wsam:Action="http://clases/NewWebService/registrarProductoResponse" message="tns:registrarProductoResponse"/>
</operation>
<operation name="registrarTipoComprobante">
<input wsam:Action="http://clases/NewWebService/registrarTipoComprobanteRequest" message="tns:registrarTipoComprobante"/>
<output wsam:Action="http://clases/NewWebService/registrarTipoComprobanteResponse" message="tns:registrarTipoComprobanteResponse"/>
</operation>
<operation name="cambiarEstadoCategoria">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoCategoriaRequest" message="tns:cambiarEstadoCategoria"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoCategoriaResponse" message="tns:cambiarEstadoCategoriaResponse"/>
</operation>
<operation name="cambiarEstadoMarca">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoMarcaRequest" message="tns:cambiarEstadoMarca"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoMarcaResponse" message="tns:cambiarEstadoMarcaResponse"/>
</operation>
<operation name="cambiarEstadoProducto">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoProductoRequest" message="tns:cambiarEstadoProducto"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoProductoResponse" message="tns:cambiarEstadoProductoResponse"/>
</operation>
<operation name="registrarEmpleado">
<input wsam:Action="http://clases/NewWebService/registrarEmpleadoRequest" message="tns:registrarEmpleado"/>
<output wsam:Action="http://clases/NewWebService/registrarEmpleadoResponse" message="tns:registrarEmpleadoResponse"/>
</operation>
<operation name="actualizarEmpleado">
<input wsam:Action="http://clases/NewWebService/actualizarEmpleadoRequest" message="tns:actualizarEmpleado"/>
<output wsam:Action="http://clases/NewWebService/actualizarEmpleadoResponse" message="tns:actualizarEmpleadoResponse"/>
</operation>
<operation name="cambiarEstadoSede">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoSedeRequest" message="tns:cambiarEstadoSede"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoSedeResponse" message="tns:cambiarEstadoSedeResponse"/>
</operation>
<operation name="cambiarEstadoEmpleado">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoEmpleadoRequest" message="tns:cambiarEstadoEmpleado"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoEmpleadoResponse" message="tns:cambiarEstadoEmpleadoResponse"/>
</operation>
<operation name="buscarTipoComprobantePorId">
<input wsam:Action="http://clases/NewWebService/buscarTipoComprobantePorIdRequest" message="tns:buscarTipoComprobantePorId"/>
<output wsam:Action="http://clases/NewWebService/buscarTipoComprobantePorIdResponse" message="tns:buscarTipoComprobantePorIdResponse"/>
</operation>
<operation name="cambiarEstadoUnidadMedida">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoUnidadMedidaRequest" message="tns:cambiarEstadoUnidadMedida"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoUnidadMedidaResponse" message="tns:cambiarEstadoUnidadMedidaResponse"/>
</operation>
<operation name="actualizarUnidadMedida">
<input wsam:Action="http://clases/NewWebService/actualizarUnidadMedidaRequest" message="tns:actualizarUnidadMedida"/>
<output wsam:Action="http://clases/NewWebService/actualizarUnidadMedidaResponse" message="tns:actualizarUnidadMedidaResponse"/>
</operation>
<operation name="actualizarTipoComprobante">
<input wsam:Action="http://clases/NewWebService/actualizarTipoComprobanteRequest" message="tns:actualizarTipoComprobante"/>
<output wsam:Action="http://clases/NewWebService/actualizarTipoComprobanteResponse" message="tns:actualizarTipoComprobanteResponse"/>
</operation>
<operation name="registrarUnidadMedida">
<input wsam:Action="http://clases/NewWebService/registrarUnidadMedidaRequest" message="tns:registrarUnidadMedida"/>
<output wsam:Action="http://clases/NewWebService/registrarUnidadMedidaResponse" message="tns:registrarUnidadMedidaResponse"/>
</operation>
<operation name="actualizarUsuario">
<input wsam:Action="http://clases/NewWebService/actualizarUsuarioRequest" message="tns:actualizarUsuario"/>
<output wsam:Action="http://clases/NewWebService/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse"/>
</operation>
<operation name="cambiarEstadoRol">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoRolRequest" message="tns:cambiarEstadoRol"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoRolResponse" message="tns:cambiarEstadoRolResponse"/>
</operation>
<operation name="registrarUsuario">
<input wsam:Action="http://clases/NewWebService/registrarUsuarioRequest" message="tns:registrarUsuario"/>
<output wsam:Action="http://clases/NewWebService/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
</operation>
<operation name="buscarSedePorId">
<input wsam:Action="http://clases/NewWebService/buscarSedePorIdRequest" message="tns:buscarSedePorId"/>
<output wsam:Action="http://clases/NewWebService/buscarSedePorIdResponse" message="tns:buscarSedePorIdResponse"/>
</operation>
<operation name="prov_actualizar">
<input wsam:Action="http://clases/NewWebService/prov_actualizarRequest" message="tns:prov_actualizar"/>
<output wsam:Action="http://clases/NewWebService/prov_actualizarResponse" message="tns:prov_actualizarResponse"/>
</operation>
<operation name="registrarSede">
<input wsam:Action="http://clases/NewWebService/registrarSedeRequest" message="tns:registrarSede"/>
<output wsam:Action="http://clases/NewWebService/registrarSedeResponse" message="tns:registrarSedeResponse"/>
</operation>
<operation name="actualizarMarca">
<input wsam:Action="http://clases/NewWebService/actualizarMarcaRequest" message="tns:actualizarMarca"/>
<output wsam:Action="http://clases/NewWebService/actualizarMarcaResponse" message="tns:actualizarMarcaResponse"/>
</operation>
<operation name="actualizarSede">
<input wsam:Action="http://clases/NewWebService/actualizarSedeRequest" message="tns:actualizarSede"/>
<output wsam:Action="http://clases/NewWebService/actualizarSedeResponse" message="tns:actualizarSedeResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://clases/NewWebService/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://clases/NewWebService/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="registrarMarca">
<input wsam:Action="http://clases/NewWebService/registrarMarcaRequest" message="tns:registrarMarca"/>
<output wsam:Action="http://clases/NewWebService/registrarMarcaResponse" message="tns:registrarMarcaResponse"/>
</operation>
<operation name="registrarRol">
<input wsam:Action="http://clases/NewWebService/registrarRolRequest" message="tns:registrarRol"/>
<output wsam:Action="http://clases/NewWebService/registrarRolResponse" message="tns:registrarRolResponse"/>
</operation>
<operation name="listarRoles">
<input wsam:Action="http://clases/NewWebService/listarRolesRequest" message="tns:listarRoles"/>
<output wsam:Action="http://clases/NewWebService/listarRolesResponse" message="tns:listarRolesResponse"/>
</operation>
<operation name="listarSedes">
<input wsam:Action="http://clases/NewWebService/listarSedesRequest" message="tns:listarSedes"/>
<output wsam:Action="http://clases/NewWebService/listarSedesResponse" message="tns:listarSedesResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://clases/NewWebService/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://clases/NewWebService/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://clases/NewWebService/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://clases/NewWebService/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
<operation name="prov_estado">
<input wsam:Action="http://clases/NewWebService/prov_estadoRequest" message="tns:prov_estado"/>
<output wsam:Action="http://clases/NewWebService/prov_estadoResponse" message="tns:prov_estadoResponse"/>
</operation>
<operation name="prov_registrar">
<input wsam:Action="http://clases/NewWebService/prov_registrarRequest" message="tns:prov_registrar"/>
<output wsam:Action="http://clases/NewWebService/prov_registrarResponse" message="tns:prov_registrarResponse"/>
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://clases/NewWebService/registrarClienteRequest" message="tns:registrarCliente"/>
<output wsam:Action="http://clases/NewWebService/registrarClienteResponse" message="tns:registrarClienteResponse"/>
</operation>
<operation name="list_cod">
<input wsam:Action="http://clases/NewWebService/list_codRequest" message="tns:list_cod"/>
<output wsam:Action="http://clases/NewWebService/list_codResponse" message="tns:list_codResponse"/>
</operation>
<operation name="buscarEmpleado">
<input wsam:Action="http://clases/NewWebService/buscarEmpleadoRequest" message="tns:buscarEmpleado"/>
<output wsam:Action="http://clases/NewWebService/buscarEmpleadoResponse" message="tns:buscarEmpleadoResponse"/>
</operation>
<operation name="listarMarcas">
<input wsam:Action="http://clases/NewWebService/listarMarcasRequest" message="tns:listarMarcas"/>
<output wsam:Action="http://clases/NewWebService/listarMarcasResponse" message="tns:listarMarcasResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://clases/NewWebService/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://clases/NewWebService/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="listarEmpleados">
<input wsam:Action="http://clases/NewWebService/listarEmpleadosRequest" message="tns:listarEmpleados"/>
<output wsam:Action="http://clases/NewWebService/listarEmpleadosResponse" message="tns:listarEmpleadosResponse"/>
</operation>
<operation name="actualizarRol">
<input wsam:Action="http://clases/NewWebService/actualizarRolRequest" message="tns:actualizarRol"/>
<output wsam:Action="http://clases/NewWebService/actualizarRolResponse" message="tns:actualizarRolResponse"/>
</operation>
<operation name="buscarMarcaPorId">
<input wsam:Action="http://clases/NewWebService/buscarMarcaPorIdRequest" message="tns:buscarMarcaPorId"/>
<output wsam:Action="http://clases/NewWebService/buscarMarcaPorIdResponse" message="tns:buscarMarcaPorIdResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://clases/NewWebService/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://clases/NewWebService/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://clases/NewWebService/listarClientesRequest" message="tns:listarClientes"/>
<output wsam:Action="http://clases/NewWebService/listarClientesResponse" message="tns:listarClientesResponse"/>
</operation>
<operation name="buscarRolPorId">
<input wsam:Action="http://clases/NewWebService/buscarRolPorIdRequest" message="tns:buscarRolPorId"/>
<output wsam:Action="http://clases/NewWebService/buscarRolPorIdResponse" message="tns:buscarRolPorIdResponse"/>
</operation>
<operation name="cambiarEstadoUsuario">
<input wsam:Action="http://clases/NewWebService/cambiarEstadoUsuarioRequest" message="tns:cambiarEstadoUsuario"/>
<output wsam:Action="http://clases/NewWebService/cambiarEstadoUsuarioResponse" message="tns:cambiarEstadoUsuarioResponse"/>
</operation>
<operation name="proveedor_listar">
<input wsam:Action="http://clases/NewWebService/proveedor_listarRequest" message="tns:proveedor_listar"/>
<output wsam:Action="http://clases/NewWebService/proveedor_listarResponse" message="tns:proveedor_listarResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUnidadMedidaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEntradasProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCategoriaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClientePorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUnidadesMedida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTiposComprobante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoTipoComprobante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarTipoComprobante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoSede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTipoComprobantePorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoUnidadMedida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarUnidadMedida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarTipoComprobante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUnidadMedida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarSedePorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prov_actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarSede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarSede">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarSedes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prov_estado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prov_registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="list_cod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMarcas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMarcaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRolPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="proveedor_listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/licoreriaServer/NewWebService"/>
</port>
</service>
</definitions>